In [1]:
import pandas as pd

In [3]:
df = pd.read_excel(r"Corces_pan_cancer.xlsx", sheet_name = "Pan-Cancer_PeakCalls", skiprows = 22, header = 0, usecols = [3,4,5])
df

       hg19_Chromosome   hg19_Start     hg19_End
0                 chr1     841392.0     841893.0
1                 chr2  113299238.0  113299739.0
2                 chr1   21999914.0   22000415.0
3                 chr2  113341782.0  113342283.0
4                 chr2  113353820.0  113354321.0
...                ...          ...          ...
562704           chr21   33468669.0   33469170.0
562705           chr21   33711915.0   33712416.0
562706           chr21   33722530.0   33723031.0
562707           chr21   33944859.0   33945360.0
562708           chr21   33950347.0   33950848.0

[562709 rows x 3 columns]

In [4]:
df.shape

(562709, 3)

In [7]:
type(df['hg19_Start'][0])

numpy.float64

In [10]:
df.isna().sum()

hg19_Chromosome    1501
hg19_Start         1501
hg19_End           1501
dtype: int64

In [11]:
df.dropna(inplace=True)

In [12]:
df.isna().sum()

hg19_Chromosome    0
hg19_Start         0
hg19_End           0
dtype: int64

In [13]:
df['hg19_Start'] = df['hg19_Start'].astype(int)

In [14]:
df['hg19_End'] = df['hg19_End'].astype(int)

In [15]:
df.head()

  hg19_Chromosome  hg19_Start   hg19_End
0            chr1      841392     841893
1            chr2   113299238  113299739
2            chr1    21999914   22000415
3            chr2   113341782  113342283
4            chr2   113353820  113354321

In [16]:
df.to_csv('Corces_pan_cancer_hg19.txt', sep='\t', index=False, header=False)