In [1]:
import pandas as pd

In [ ]:
#select 1000 representative(top scores) of ~6000 cancer specific peaks

In [2]:
coad_original = pd.read_csv(r'COAD_peakCalls_test.csv')
coad_original

,seqnames,start,end,name,score,annotation,percentGC,percentAT
0,chr1,1014239,1014740,COAD_32,4.833299,3' UTR,0.624750,0.375250
1,chr1,1290100,1290601,COAD_130,3.264418,3' UTR,0.678643,0.321357
2,chr1,1291766,1292267,COAD_132,9.560497,3' UTR,0.638723,0.361277
3,chr1,1440807,1441308,COAD_176,4.023149,3' UTR,0.660679,0.339321
4,chr1,1441511,1442012,COAD_177,2.843885,3' UTR,0.648703,0.351297
...,...,...,...,...,...,...,...,...
122966,chrY,13702636,13703137,COAD_122920,5.323570,Promoter,0.556886,0.443114
122967,chrY,19075878,19076379,COAD_122933,4.001206,Promoter,0.564870,0.435130
122968,chrY,19077155,19077656,COAD_122934,2.629058,Promoter,0.630739,0.369261
122969,chrY,19744488,19744989,COAD_122941,2.469653,Promoter,0.485030,0.514970
122970,chrY,20575370,20575871,COAD_122943,8.311387,Promoter,0.508982,0.491018

In [3]:
coad_eliminated = pd.read_csv(r'COAD_backHg38.bed', sep='\t', header=None)
coad_eliminated.columns = ["seqnames", "start", "end"]
coad_eliminated

     seqnames     start       end
0        chr1   1131243   1131744
1        chr1   1160516   1161017
2        chr1   1168073   1168574
3        chr1   1191709   1192210
4        chr1   2134528   2135029
...       ...       ...       ...
5962     chrY  56836530  56837031
5963     chrY  56837148  56837649
5964     chrY  56847202  56847703
5965     chrY  56847704  56848205
5966     chrY  56873423  56873924

[5967 rows x 3 columns]

In [4]:
coad_merged = pd.merge(coad_original, coad_eliminated, on=["seqnames", "start"], how="inner")
coad_merged

,seqnames,start,end_x,name,score,annotation,percentGC,percentAT,end_y
0,chr1,47146432,47146933,COAD_3681,6.036937,3' UTR,0.357285,0.642715,47146933
1,chr1,75754706,75755207,COAD_4716,6.249715,3' UTR,0.560878,0.439122,75755207
2,chr1,202015444,202015945,COAD_9239,6.899665,3' UTR,0.542914,0.457086,202015945
3,chr1,202016560,202017061,COAD_9241,5.542976,3' UTR,0.443114,0.556886,202017061
4,chr1,205272450,205272951,COAD_9595,2.350953,3' UTR,0.568862,0.431138,205272951
...,...,...,...,...,...,...,...,...,...
5955,chrX,71222891,71223392,COAD_121719,6.480802,Promoter,0.626747,0.373253,71223392
5956,chrX,77014910,77015411,COAD_121811,8.724526,Promoter,0.391218,0.608782,77015411
5957,chrX,131578924,131579425,COAD_122469,7.047454,Promoter,0.588822,0.411178,131579425
5958,chrX,150420726,150421227,COAD_122681,2.206686,Promoter,0.584830,0.415170,150421227
5959,chrY,13702636,13703137,COAD_122920,5.323570,Promoter,0.556886,0.443114,13703137

In [5]:
coad_merged = coad_merged[coad_merged.seqnames != 'chrY']
coad_merged

,seqnames,start,end_x,name,score,annotation,percentGC,percentAT,end_y
0,chr1,47146432,47146933,COAD_3681,6.036937,3' UTR,0.357285,0.642715,47146933
1,chr1,75754706,75755207,COAD_4716,6.249715,3' UTR,0.560878,0.439122,75755207
2,chr1,202015444,202015945,COAD_9239,6.899665,3' UTR,0.542914,0.457086,202015945
3,chr1,202016560,202017061,COAD_9241,5.542976,3' UTR,0.443114,0.556886,202017061
4,chr1,205272450,205272951,COAD_9595,2.350953,3' UTR,0.568862,0.431138,205272951
...,...,...,...,...,...,...,...,...,...
5954,chrX,49163621,49164122,COAD_121369,16.582448,Promoter,0.692615,0.307385,49164122
5955,chrX,71222891,71223392,COAD_121719,6.480802,Promoter,0.626747,0.373253,71223392
5956,chrX,77014910,77015411,COAD_121811,8.724526,Promoter,0.391218,0.608782,77015411
5957,chrX,131578924,131579425,COAD_122469,7.047454,Promoter,0.588822,0.411178,131579425
5958,chrX,150420726,150421227,COAD_122681,2.206686,Promoter,0.584830,0.415170,150421227

In [6]:
coad_merged.annotation.value_counts()

Distal      2964
Intron      2575
Promoter     160
Exon         144
3' UTR        77
5' UTR         6
Name: annotation, dtype: int64

In [7]:
coad_merged.score.describe()

count    5926.000000
mean        4.650173
std         2.828123
min         2.068716
25%         2.906818
50%         3.732196
75%         5.370164
max        47.930888
Name: score, dtype: float64

In [8]:
coad_merged_top = coad_merged.sort_values(by='score',ascending=False).head(1000)
coad_merged_top

,seqnames,start,end_x,name,score,annotation,percentGC,percentAT,end_y
210,chr1,165137913,165138414,COAD_7777,47.930888,Distal,0.524950,0.475050,165138414
4733,chr10,436336,436837,COAD_65606,41.204656,Intron,0.610778,0.389222,436837
5869,chr9,134164627,134165128,COAD_65052,35.679000,Promoter,0.534930,0.465070,134165128
257,chr1,207748035,207748536,COAD_9893,30.642362,Distal,0.510978,0.489022,207748536
1772,chr9,40916021,40916522,COAD_61334,29.035583,Distal,0.552894,0.447106,40916522
...,...,...,...,...,...,...,...,...,...
4900,chr11,101852739,101853240,COAD_75909,6.409874,Intron,0.568862,0.431138,101853240
1805,chr9,88941768,88942269,COAD_62224,6.406320,Distal,0.437126,0.562874,88942269
954,chr5,2222743,2223244,COAD_34559,6.403563,Distal,0.405190,0.594810,2223244
5598,chr20,32541301,32541802,COAD_113402,6.391951,Intron,0.600798,0.399202,32541802
3632,chr2,219533893,219534394,COAD_20397,6.378424,Intron,0.536926,0.463074,219534394

In [9]:
coad_merged_bottom = coad_merged.sort_values(by='score',ascending=True).head(1000)
coad_merged_bottom

,seqnames,start,end_x,name,score,annotation,percentGC,percentAT,end_y
3750,chr3,85604028,85604529,COAD_24989,2.068716,Intron,0.337325,0.662675,85604529
3479,chr2,54548613,54549114,COAD_14373,2.069546,Intron,0.461078,0.538922,54549114
43,chr11,2130801,2131302,COAD_71350,2.073031,3' UTR,0.632735,0.367265,2131302
3652,chr2,241790624,241791125,COAD_21728,2.076749,Intron,0.383234,0.616766,241791125
5216,chr14,79552013,79552514,COAD_89493,2.076749,Intron,0.367265,0.632735,79552514
...,...,...,...,...,...,...,...,...,...
1808,chr9,90946963,90947464,COAD_62337,2.671420,Distal,0.403194,0.596806,90947464
5195,chr14,58122350,58122851,COAD_88396,2.671420,Intron,0.463074,0.536926,58122851
5871,chr10,5499403,5499904,COAD_65868,2.671420,Promoter,0.624750,0.375250,5499904
936,chr4,182816044,182816545,COAD_34026,2.671452,Distal,0.510978,0.489022,182816545
1149,chr6,1309330,1309831,COAD_40363,2.671452,Distal,0.417166,0.582834,1309831

In [10]:
coad_merged_top.annotation.value_counts()

Distal      531
Intron      394
Promoter     33
Exon         29
3' UTR       13
Name: annotation, dtype: int64

In [11]:
coad_merged_bottom.annotation.value_counts()

Distal      459
Intron      455
Exon         36
Promoter     33
3' UTR       17
Name: annotation, dtype: int64

In [10]:
coad_merged_top[["seqnames","start","end_x"]].to_csv('coad_top1000.bed', sep='\t', index=False, header=False)

In [9]:
coad_merged_bottom[["seqnames","start","end_x"]].to_csv('coad_bottom1000.bed', sep='\t', index=False, header=False)

In [ ]:
#grouped by annotation

In [22]:
adfs = {}
for annotation in list(coad_merged.annotation.value_counts().index):
    adf = coad_merged[coad_merged.annotation == annotation]
    adfs[annotation] = adf
    adf_output = adf[["seqnames","start","end_x"]]
    adf_output.to_csv("coad_"+annotation+".bed", sep='\t', index=False, header=False)

In [23]:
adfs_top100 = {}
for annotation in list(coad_merged.annotation.value_counts().index):
    adf_top100 = coad_merged[coad_merged.annotation == annotation].sort_values(by="score", ascending=False).head(100)
    adfs_top100[annotation] = adf_top100
    top_output = adf_top100[["seqnames","start","end_x"]]
    top_output.to_csv("coad_"+annotation+"_top100.bed", sep='\t', index=False, header=False)

In [12]:
adfs_top1000 = {}
for annotation in list(coad_merged_top.annotation.value_counts().index):
    adf_top1000 = coad_merged_top[coad_merged_top.annotation == annotation]
    adfs_top1000[annotation] = adf_top1000
    top_output = adf_top1000[["seqnames","start","end_x"]]
    top_output.to_csv("coad_"+annotation+"_intop1000.bed", sep='\t', index=False, header=False)